.display-menu {
    max-width: 20%;
    min-width: 300px;
    margin: auto;

    display: flex;
    flex-direction: column;
}


.included {
    background-color: #4dabf7;
}

.absent {
    /* CHOOSE ONE */

    /* Do not display at all */
    /* display: none !important; */

    /* Gray out the content */
    background-color: #868e96;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}